@charset "utf-8";
/* CSS Document */

div {
	
}


.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


body {/*Changes background color and text color and font.*/
	/*background-color: #000000;*/
	color: #9a0018;
	line-height: 1%;
	font-family: "Times New Roman", Times, serif;
	background-repeat:no-repeat;

}
p {
	color: #9a0018;
	line-height: 1%;
	font-size: 32px;
	text-align: left;
}
table,th,tr,td{
	/*border:3px solid white;*/
	line-height:1;
}
 	
h1{/*Changes color of every (h1) tags and font.*/
	font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif !important;
	font-size: 36px;
	text-align: left;
}

a{/*Removes the underrline from links.*/
	text-decoration: none;
}
a:link{/*changes color of unvisited links.*/
	color: #000000;
}
a:visited{/*changes color of visited links.*/
	color: #AA3E1A;
}
a:hover{/*colored white and underlined white when hovering over links*/
	color: #000000;
	text-decoration: underline;
}
a:active{/*when cliked, turns into this color*/
	color: #25bab3;
}
h6{/*size of h6*/
	font-size:1px;
}
/*center{
/*font-family: "Papyrus",fantasy;*/
font-weight	:900;
}
