@charset "utf-8";
/* CSS Document */

div {
	
}

body {/*Changes background color and text color and font.*/
	/*background-color: #000000;*/

	background-color: #ffffff;
	line-height: 1%;
	font-family: "Times New Roman", Times, serif;

}
.hero-image {
  background-image: url("Images/Untitled-3.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height:1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  line-height: 150%
}
p {
	color: #fffff;
	line-height: 1%;
	font-size: 32px;
	text-align: left;
}
table,th,tr,td{
	/*border:3px solid white;*/
	line-height:1;
}
 	
h1{/*Changes color of every (h1) tags and font.*/
	font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif !important;
	font-size: 36px;
	text-align: left;
}
h2{
font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif !important;
	font-size: 30px;
	text-align: center;
}
h4{
font-family: "Times New Roman", Times, serif;
	font-size: 1px;
	text-align: center;
}

a{/*Removes the underrline from links.*/
	text-decoration: none;
}
a:link{/*changes color of unvisited links.*/
	color: #000000;
}
a:visited{/*changes color of visited links.*/
	color: #AA3E1A;
}
a:hover{/*colored white and underlined white when hovering over links*/
	color: #000000;
	text-decoration: underline;
}
a:active{/*when cliked, turns into this color*/
	color: #25bab3;
}
h6{/*size of h6*/
	font-size:1px;
}
/*center{
/*font-family: "Papyrus",fantasy;*/
font-weight	:900;
}
